version: 2.1

jobs:
  build:
    docker:
      - image: cimg/python:3.12

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

      - run:
          name: Test Bot Start
          command: |
            python telegram_news_bot.py

workflows:
  version: 2
  build:
    jobs:
      - build
